<a href="https://colab.research.google.com/github/etlarkin/CS167/blob/main/Day04_Notes_kNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 4 Notes: k Nearest Neighbors
The following code includes the steps necessary to build a k nearest neighbors model. We'll go through each step, and then I'll ask you to pull these steps together into a function that you can pass a new observation of a flower in to and it will output the species the model predicts that flower is.

In [1]:
import pandas
from google.colab import drive
drive.mount('/content/drive')
#go through authentication step

Mounted at /content/drive

In [2]:
#import the data and take a look at it
data = pandas.read_csv('/content/drive/MyDrive/CS167/Datasets/irisData.csv')
data.sample(frac=1).head()

     sepal length  sepal width  petal length  petal width          species
116           6.5          3.0           5.5          1.8   Iris-virginica
119           6.0          2.2           5.0          1.5   Iris-virginica
5             5.4          3.9           1.7          0.4      Iris-setosa
96            5.7          2.9           4.2          1.3  Iris-versicolor
47            4.6          3.2           1.4          0.2      Iris-setosa

In [3]:
data['petal width'].mean() #get the average of a column

1.1986666666666672

In [5]:
# Calculate the distance
import numpy
#adding a new column
data['distance_to_new'] = numpy.sqrt(
    (5.1-data['petal length'])**2
    +(7.2-data['sepal length'])**2
    +(1.5-data['petal width'])**2
    +(2.5-data['sepal width'])**2)
data.head()

   sepal length  sepal width  ...      species  distance_to_new
0           5.1          3.5  ...  Iris-setosa         4.559605
1           4.9          3.0  ...  Iris-setosa         4.573839
2           4.7          3.2  ...  Iris-setosa         4.782259
3           4.6          3.1  ...  Iris-setosa         4.665833
4           5.0          3.6  ...  Iris-setosa         4.629255

[5 rows x 6 columns]

In [6]:
# Sort the data and display it
sorted_data = data.sort_values(['distance_to_new']) 
sorted_data #display it

     sepal length  sepal width  ...          species  distance_to_new
76            6.8          2.8  ...  Iris-versicolor         0.591608
52            6.9          3.1  ...  Iris-versicolor         0.700000
77            6.7          3.0  ...  Iris-versicolor         0.741620
50            7.0          3.2  ...  Iris-versicolor         0.836660
129           7.2          3.0  ...   Iris-virginica         0.866025
..            ...          ...  ...              ...              ...
8             4.4          2.9  ...      Iris-setosa         4.835287
38            4.4          3.0  ...      Iris-setosa         4.921382
42            4.4          3.2  ...      Iris-setosa         4.945705
22            4.6          3.6  ...      Iris-setosa         5.144900
13            4.3          3.0  ...      Iris-setosa         5.159457

[150 rows x 6 columns]

In [7]:
# give the top 5 closest neighbors
sorted_data.iloc[0:5]

     sepal length  sepal width  ...          species  distance_to_new
76            6.8          2.8  ...  Iris-versicolor         0.591608
52            6.9          3.1  ...  Iris-versicolor         0.700000
77            6.7          3.0  ...  Iris-versicolor         0.741620
50            7.0          3.2  ...  Iris-versicolor         0.836660
129           7.2          3.0  ...   Iris-virginica         0.866025

[5 rows x 6 columns]

In [ ]:
# give the most commonly occuring species of the 5 closest neighbors
sorted_data.iloc[0:5]['species'].mode()
#sorted_data.iloc[0:5]['species'].mode()[0] #return just the string

0    Iris-versicolor
dtype: object

## Exercise:
Now it's your turn. Use the code snippets from above to build out a kNN function that takes in `specimen`, `data`, and `k` and ouputs the prediction.

In [13]:
def knn(specimen, data, k):
  data['distance_to_new'] = numpy.sqrt(
    (specimen['petal length']-data['petal length'])**2
    +(specimen['sepal length']-data['sepal length'])**2
    +(specimen['petal width']-data['petal width'])**2
    +(specimen['sepal width']-data['sepal width'])**2)
  sorted_data = data.sort_values(['distance_to_new']) 
  return sorted_data.iloc[0:k]['species'].mode()
  
  # your code here

In [14]:
# Use the code below to build a dictionary of values and test your new function:
iris = {}
iris['petal length'] = 5.1
iris['sepal length'] = 7.2
iris['petal width'] = 1.5
iris['sepal width'] = 2.5
# 5-NN 
knn(iris,data,5)

0    Iris-versicolor
dtype: object