<a href="https://colab.research.google.com/github/etlarkin/CS167/blob/main/notebook1_Larkin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook #1: Python, Pandas, and Pokemon, Oh My!

**Due 2/16 by 11:59pm**

The goal of this notebook is to become comfortable with using `python` and `pandas` as well as grabbing specific slices of the dataset. 

Start off by importing the data as we did in `practice-assignment`. Make sure the data is in your Google Drive, and that you update the path to point to where you have your data saved in Drive.

## **Elizabeth Larkin**

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#import the data:

#make sure the path on the line below corresponds to the path where you put your dataset.
poke = pd.read_csv('/content/drive/MyDrive/CS167/Datasets/pokemon.csv')
poke.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

## Exercise #1: 
Print out all of the possible values for the Type 1 of pokemon.
- *Hint: I'm looking for each possible primary type to be ouput once, not a list of primary type of each pokemon. For example, if I tossed a coin 3 times and got Heads, Tails, Heads, the possible values of the coin flip are Heads and Tails. There is a function for this.*

In [ ]:
poke['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

## Exercise #2:
Create a subset of data representing pokemon whose primary type is **Fire** ðŸ”¥ , and the second type is **Flying** ðŸ¦…. Save this DataFrame to the variable name `fire_flying_pokemon`. Display the first 5 lines of this subset.

In [ ]:
fire_flying_pokemon = poke[(poke['Type 1'] == 'Fire') & (poke['Type 2'] == 'Flying')]
fire_flying_pokemon.head(5)

       #                       Name Type 1  ... Speed  Generation  Legendary
6      6                  Charizard   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
158  146                    Moltres   Fire  ...    90           1       True
270  250                      Ho-oh   Fire  ...    90           2       True
730  662                Fletchinder   Fire  ...    84           6      False

[5 rows x 13 columns]

## Exercise #3
Using `fire_flying_pokemon`, what is the median **Attack** of Fire Flying Pokemon?

In [ ]:
fire_flying_pokemon['Attack'].median() 
#92

92.0

## Exercise #4
Create a subset with only pokemon from Generation I. Include 5 columns, the `Generation`, `Name`, `Type 1`, `Type 2`, and `Total`. 
  - *For an extra challenge, see if you can do this in one line.*

In [ ]:
gen_1_subset = poke[poke['Generation'] == 1] [['Generation','Name','Type 1','Type 2','Total']]
gen_1_subset.head()

   Generation                   Name Type 1  Type 2  Total
0           1              Bulbasaur  Grass  Poison    318
1           1                Ivysaur  Grass  Poison    405
2           1               Venusaur  Grass  Poison    525
3           1  VenusaurMega Venusaur  Grass  Poison    625
4           1             Charmander   Fire     NaN    309

## Exercise #5

Which primary type of pokemon is the overall strongest? (not looking for philsophical debates here, I'm looking at the average of the 'Total' column, grouped by Type--so Fire v Water v Grass etc.). 
- *Hint: Don't forget to actually answer the question here...*

In [ ]:
poke.groupby(['Type 1'])['Total'].mean()

# Dragon is the strongest type of primary Pokemon

Type 1
Bug         378.927536
Dark        445.741935
Dragon      550.531250
Electric    443.409091
Fairy       413.176471
Fighting    416.444444
Fire        458.076923
Flying      485.000000
Ghost       439.562500
Grass       421.142857
Ground      437.500000
Ice         433.458333
Normal      401.683673
Poison      399.142857
Psychic     475.947368
Rock        453.750000
Steel       487.703704
Water       430.455357
Name: Total, dtype: float64

## Exercise #6
**Do something cool**. Using the Pokemon dataset, get creative and show me something about the dataset. Use a text cell to explain what you did. 
 - *Need some help gettting started here? Try asking a question about the dataset and see if you can use Python and Pandas to answer the question*

In [ ]:
# what generation of pokemon is the fastest? slowest?

poke.groupby(['Generation'])['Speed'].mean()

# Generation 1 is the fastest and Generation 2 is the slowest

Generation
1    72.584337
2    61.811321
3    66.925000
4    71.338843
5    68.078788
6    66.439024
Name: Speed, dtype: float64

I first asked a question about the dataset regarding which generation is the fastest and which is the slowest. I then used the groupby function to just get the averages for the speed of each generation using the mean function. These gave me the results with generation 1 being the fastest and generation 2 being the slowest