<a href="https://colab.research.google.com/github/etlarkin/CS167/blob/main/Notebook3_Larkin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook #3
**Due**: 9/28/21 by 11:59 pm.

**Name**: Lizzie Larkin

Be sure to start with the subset that you used in Notebook #2.
- Only rows with 'Fuel Type' as `regular`.
- the `displ`, `cylinders`, `year`, and `comb08` columns.

In [1]:
import pandas
import numpy
from google.colab import drive 
drive.mount('/content/drive')
data = pandas.read_csv('/content/drive/MyDrive/CS167/Datasets/vehicles.csv')
data.head()

Mounted at /content/drive

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   barrels08  barrelsA08  charge120  ...  phevCity  phevHwy  phevComb
0  15.695714         0.0        0.0  ...         0        0         0
1  29.964545         0.0        0.0  ...         0        0         0
2  12.207778         0.0        0.0  ...         0        0         0
3  29.964545         0.0        0.0  ...         0        0         0
4  17.347895         0.0        0.0  ...         0        0         0

[5 rows x 83 columns]

In [2]:
# Make your subset here.
subset = data[data['fuelType']=='Regular'][['year','cylinders','displ','comb08']]
print(subset.shape)

subset.head()
subset.isna().any()
print("before: ",subset.shape)
clean_subset = subset.dropna()
print("after: ",clean_subset.shape)
clean_subset.isna().any()

(26863, 4)
before:  (26863, 4)
after:  (26860, 4)

year         False
cylinders    False
displ        False
comb08       False
dtype: bool

## Exercise #1

Modify your code from Notebook #2/class to use cross validation. 
- Don't forget that you're doing **regression**--pay attention to what you need to change to make this do regression rather than classification
- make sure to implement an appropriate **regression metric** - you can use any of the ones we talked about in class, but code it up yourself. Avoid using for loops in your calculation, they're unnecesary.
- The sample code uses the word 'classification' a lot in the name of things... make sure you use the word 'regression' instead if you write similar functions.
- your code should be clear and readable.

In [ ]:
def classify_kNN(new_example,train_data,k):
    #getting a copy of the training set just so we don't
    #mess up the original
    train_data_copy = train_data.copy()
    train_data_copy['distance_to_new'] = numpy.sqrt(
        (new_example['petal length']-train_data_copy['petal length'])**2
        +(new_example['sepal length']-train_data_copy['sepal length'])**2
        +(new_example['petal width']-train_data_copy['petal width'])**2
        +(new_example['sepal width']-train_data_copy['sepal width'])**2)
    
    sorted_data = train_data_copy.sort_values(['distance_to_new'])
    #mode to get most common thing in the first k examples in the sorted dataframe
    #iloc to get the actual string, mode will return the string inside of a pandas Series
    prediction = sorted_data.iloc[0:k]['species'].mode().iloc[0] 
    return prediction

#add regression metric function
def mean_absolute_error():

def classify_all_kNN(test_data,train_data,k):
    #apply the classify_kNN function to each item in the test data with the train
    #data and k passed as the other two arguments. The result will be a series of 
    #the individual results.
    return test_data.apply(classify_kNN,args=(train_data,k),axis=1)

# Exercise #2
Use approximately the first 500 rows in the shuffled set as testing data. Feel free to use fewer examples in your testing set-- particulary if it takes a long time ro run on your computer (more than 1 min or so).

In [3]:
#your code here
#shuffle the data
shuffled_data = clean_subset.sample(frac=1, random_state=41)

#use the first 500 rows as testing data
test_data = shuffled_data.iloc[0:500]
train_data = shuffled_data.iloc[500:]

(26360, 4)

## Exercise #3
Test your model using several different values of k and **graphically show the results.**

In [ ]:
# your code here
import matplotlib.pyplot as plt
%matplotlib inline

#reload the data
data = pandas.read_csv('/content/drive/MyDrive/CS167/Datasets/irisData.csv')

k_vals = [1,3,5,9,15,21,31,51,101,129]
kNN_mae = []

for k in k_vals:
    predictions = classify_all_kNN(test_data,train_data,k)
    current_accuracy = accuracy(test_data['species'],predictions)
    kNN_accuracies.append(current_accuracy)


plt.suptitle('Vehicle Data k-NN Experiment',fontsize=18)
plt.xlabel('k')
plt.ylabel('mean absolute error')
plt.plot(k_vals,kNN_mae,'ro-',label='k-NN')
plt.legend(loc='lower left', shadow=True)
plt.axis([0,130,0,1])

plt.show()

## Exercise #4
Run the code you wrote in Exercise #3 for different splits of the data -- varying the number of elements in the testing data and/or different values for the `random_state`.

In [ ]:
# your code here

# Exercise #5
What conclusions can you draw about the best number for k for the kNN algorithm for this dataset? Use a text cell to explain your conclusions in a couple sentences.